//variables
html
    scroll-behavior: smooth;
a
    color: black !important
    text-decoration: none !important
.montserrat
    font-family: 'Montserrat'
#prensa
    background: #f2f2f2 !important
.number-accion
    top: -15px !important
    left: -30px !important
.pt75
    font-size: 75pt !important
.black
    color: black !important;
.s18
    font-size: 18px !important

.s20
    font-size: 20px !important
.s30
    font-size: 30pt !important
.s45
    font-size: 45pt !important
.s70
    font-size: 70pt !important
.nexa-bold
    font-family: 'Nexa Bold'
.nexa-light
    font-family: 'Nexa Light'
.w75
    width: 75% !important
.pt65
    font-size: 65pt !important
.z-0
    z-index: 0 !important
.bebas-book
    font-family: 'Bebas Neue Book' !important;
.bebas-neue
    font-family: 'Bebas Neue' !important
.bebas-bold
    font-family: 'Bebas Bold' !important;
.left-overlay
    left : -90px !important
.relative
    position: relative !important
.absolute
    position: absolute !important
.main-color
    color: #00459c !important
.deep-blue
    color: #0b1129 !important
.secondary-blue
    color: #43bcc6 !important
.line-blue
    background: #0b1129 !important
    height: 1px !important
    width: 30%
.dn
  display: none
#map
  height: 450px
.mov
  display: none !important
.main-title
    color: #00459c !important
    font-family: 'Bebas Bold' !important
.accion-constante-title
    color: #1b2137 !important
    font-family: 'Bebas Bold' !important
.social-content
    background: white
    transform: translateY(-115px)
    padding: 10px 16px
    width: 100% !important
.carousel-indicators li
    background-color: black !important
.content-bio
    padding: 10px 80px 10px 80px
.gray-main
    color: #999999 !important
.gray-secondary
    color: #f3f3f3 !important
.main-button
    padding: 10px 25px
    border: 1px solid black
    border-radius: 2px
#frm-contacto
    input, textarea
        border-radius: 0px !important
#btnSubmit2
    background: #0b1129
    color: white
    font-weight: bold
    border-radius: 0px !important
    padding: 10px 20px
#btnSubmit
    background: #0b1129
    color: white
    font-weight: bold
    border-radius: 0px !important
    padding: 10px 20px
.carousel-inner
    overflow: inherit !important
.content-bio
    overflow hidden
#cssmenu.small-screen #menu-button
    color black !important
#cssmenu.small-screen #menu-button:before
    background: black !important
#cssmenu.small-screen #menu-button:after
    border-top: 2px solid black;
    border-bottom: 2px solid black;
#cssmenu.small-screen #menu-button.menu-opened:after
    background: black
.main-header
    top: 40% !important
.w100
    width: 100% !important
.bg-header
    background: url('../images/bg-header.png')
    padding: 10px 25px;
    width: 31%;

    background-size: cover;

.main-header
    h1
        padding-left: 50px !important
.transition
    transition: 1s ease all !important
    width: 350px !important

.transition:hover .img-accion
    transform: scale(1.1)

.active-blue
    color: #00459c !important
.card-title
    margin 0px !important
#bannerBlog
    background: #00459c !important;
.btn-volver
    cursor pointer
.see-more
    background: #0b1129
    color: #fff
    font-weight: bold
    border-radius: 0px !important
    padding: 10px 20px
.bullet
    border-bottom: 1px solid whitesmoke
.comments
    cursor pointer
.pointer
    cursor pointer !important
.interactions
    border 1px solid whitesmoke
.listado-comentarios ,.formulario
    border 1px solid whitesmoke
    padding: 10px
.btn-denunciar:hover
    font-weight: bold !important

#resultados
    background: url('../images/datosbg.png')
    background-attachment: fixed
    background-size: cover
    background-position: center
.timer
    color: #0b1129 !important
    font-weight: bold !important
    font-size: 45px
footer
    background: #161616
.modal-dialog
    max-width: 5000px !important
    margin: 0px !important
.modal.fade.show
    background: rgba(0, 69, 156, .50)

.modal-content
    border-radius: 0px !important

.modal-content
    background: url('../images/bg_pop.png')
    height: 500px;
    width: 800px;
    background-size: cover
    background-position: center


.float-social
    position: fixed
    bottom: 80px
    right: 25px
    z-index: 1000
.card-body
    min-height: 385px !important
    max-height: 390px !important
.owl-accion .owl-nav { display: block !important; }

